<!-- <nav class="navbar bg-light is-fixed-top" role="navigation" aria-label="main navigation"> -->
<div class="navbar-brand">
    <a class="navbar-item" href="#">
        <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">
        <span>DAMO</span>
    </a>
    <span #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarElements"
        (click)="onBurgerClicked()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </span>
</div>

<div id="navbarElements" #navMenu class="navbar-menu">

    <div class="navbar-start">
        <div *ngFor="let model of models; let i = index" class="navbar-item" >
           <a routerLink="/model/{{model.id}}/{{model.model_version}}">
            <div (mouseenter)="model.showInfo = true" (mouseleave)="model.showInfo = false">
                {{model.model_name + ' v' +(model.model_version | version) || 'unsaved model'}}
                <i *ngIf="model.can_read" class="fas fa-eye" title="read permission"></i>
                <i *ngIf="model.can_write" class="fas fa-pencil-alt" title="write permission"></i>
                <span *ngIf="model.collaborator.length > 1" class="badge badge-light">
                    {{model.collaborator.length}}
                </span>
                <a class="delete" aria-label="Close" (click)="remove(i)" routerLink="/overview"> </a>
            </div>
            <!-- <button class="badge badge-light" style="position: absolute; top: 0; right: 0;" (click)="remove(i)">X</button> -->
            <div *ngIf="model.collaborator.length > 1 && model.showInfo" class="panel-heading">
                Collaborators
            </div>
            <div class="panel-body">
                <ul>
                    <p *ngFor="let collaborator of model.collaborator">
                        {{collaborator}}
                    </p>
                </ul>
            </div>
            <!-- </div> -->
            </a>
        </div>
        
        <div class="navbar-item" *ngIf="models.length > 0"><a routerLink="/overview"> <span class="icon"><i class="fa fa-plus"></i></span></a></div>
    </div>

    <ul class="navbar-end" [ngClass]="{'loading': true}">
        <li class="navbar-item" *ngIf="isAdmin()" routerLink="administration"><a><span class="icon"><i
                        class="fa fa-cog"></i></span><span>Administration</span></a></li>
        <li class="navbar-item" routerLink="tutorial"><a>
                <span class="icon"><i class="fa fa-graduation-cap"></i></span>
                <span>Tutorial</span>
            </a></li>
        <!-- <li *ngIf="loading">
                <img *ngIf="loading" style="height: inherit" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </li> -->
        <li class="navbar-item">
            <a (click)="showMenu = !showMenu"><span class="icon"><i class="fa fa-user"></i></span>
                <span>{{currentUser?.email || 'Menü'}}</span></a>
        </li>
        <li class="navbar-item">
            <a>
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span>{{'APPHEADER.LOGOUT' | translate }}</span>
            </a>
        </li>

 <li class="navbar-item">
            <a>
          <span class="select">
                    <select class="" #langSelect (change)="onLanguageChanged(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
        </span>
          </a>
        </li>
    </ul>
</div>
<!-- </nav> -->