<title>IPIM Adaptive Modeler
</title>
<div class="container height-10">
    <h1>Modeler / Editor</h1>
    <input type="file" id="file" (change)="openFileDiagram()" accept=".bpmn">
</div>
<!--<select [(ngModel)]="url">
    <option *ngFor="let url of urls" value="{{url.href}}">{{url.text}}</option>
</select>
<button (click)="loadBPMN()">Load BPMN-XML</button> -->
<!--<input style="position:absolute; top:2%; left:28%; display: none; color:green;" type="file" id="files" name="files[]" />-->


<div class="with-diagram modeler">
    <modelloader [hidden]="hideLoader" (notify)="onNotify($event)"></modelloader>
    <div id="js-drop-zone" >
        <div id="js-canvas" class="canvas .section-to-print"></div>
        <div id="js-properties-panel" class="properties"></div>
    </div>
</div>

<!--<modeler></modeler>-->



<div class="buttons">
    <!--
    <button type="button" class="btn btn-large btn-block btn-default" (click)="createNewDiagram()">createNewDiagram</button>
    <button type="button" class="btn btn-large btn-block btn-default" (click)="saveDiagram()">saveDiagram</button>
    <button type="button" class="btn btn-large btn-block btn-default" (click)="loadDiagram()">loadDiagram</button>
    <button type="button" class="btn btn-large btn-block btn-default" (click)="debug()">button3</button>
    <button type="button" class="btn btn-large btn-block btn-default" (click)="commandTest()">commandstack</button>
    <button type="button" class="btn btn-large btn-block btn-default" (click)="commandReset()">commandReset</button>
    <button type="button" class="btn btn-large btn-block btn-default" (click)="commandGet()">commandGet</button>
    -->
    <!--<term-modal></term-modal>-->
    <!--<input-modal></input-modal>-->
    <!--<variable-modal></variable-modal> -->
    <!--<button type="button" class="btn btn-large btn-block btn-default" (click)="logout()">logout</button>-->
</div>

<!-- <modal #variableModal  >
    <modal-header>
        <h4 class="modal-title">IPIM Variables!</h4>
    </modal-header>
    <modal-body>
        This should not appear!
        this.loadVariableModalValues()
        <fieldset id="inputfset">
        </fieldset>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>
    </modal-footer>
</modal>
<modal #inputModal id="inputModal">
    <modal-header>
        <h4 class="modal-title">IPIM Evaluation!</h4>
    </modal-header>
    <modal-body>
        This should not appear!
        this.loadInputModalValues() ?? dynamic load values
        <fieldset id="inputfset">
        </fieldset>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="this.inputModal" (click)="this.evaluateProcess()">Evaluate</button>
    </modal-footer>
</modal> -->
<term-modal #termModal>
</term-modal>
<input-modal #inputModal>
</input-modal>
<variable-modal #variableModal>
</variable-modal>
<subprocess-modal #SubprocessModal>
</subprocess-modal>

<!--  <modal #termModal>
<modal-header>
    <h4 class="modal-title">TermModal!</h4>
</modal-header>
<modal-body>
    <div class="form-group">
        <label for="term">Insert new Term for all Elements</label>
        <textarea value="" id="inputFieldTerm" class="maxwid"></textarea>
    </div>
</modal-body>
<modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="this.termModal" (click)="this.termModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-default" (click)="this.termModal.accept()">Ok</button>
</modal-footer>
</modal> -->
<!-- <term-modal [modeler]="modeler" [termList]="getTermList(lookup.SELECTION)"> -->
<!-- <term-modal [modeler]="modeler" [termList]="this.modeler, this.getTermList(this.lookup.SELECTION)"> -->


