<div id="js-drop-zone" class="with-diagram modeler">
    <div class="page-header">
        <select [(ngModel)]="url">
            <option *ngFor="let url of urls" value="{{url.href}}">{{url.text}}</option>
        </select>
        <button (click)="loadBPMN()">Load BPMN-XML</button>
    </div>
    <div id="js-canvas" class="canvas .section-to-print">
        <a class="ipim-link" href="http://ipim.institue" target="_blank" title="Powered by IPIM">
            <img class="ipim-logo" src="./../../../public/images/ipim-logo.png" alt="IPIM Logo" />
        </a>
    </div>
    <div id="js-properties-panel" class="properties">
    </div>

</div>