<div class="djs-palette open" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="djs-palette-entries">
        <div class="group" data-group="IPIM2Rows">
            <div class="entry fa fa-th-large" draggable="true" data-action="Toggle-Palette" title="Toggle between 1 and 2 columns Menue"></div>
        </div>
        <div class="group" data-group="tools">
            <hr class="separator">
            <div class="entry bpmn-icon-hand-tool" draggable="true" data-action="hand-tool" title="Activate the hand tool"></div>
            <div class="entry bpmn-icon-lasso-tool" draggable="true" data-action="lasso-tool" title="Activate the lasso tool"></div>
            <div class="entry bpmn-icon-space-tool" draggable="true" data-action="space-tool" title="Activate the create/remove space tool"></div>
            <div class="entry bpmn-icon-connection-multi" draggable="true" data-action="global-connect-tool" title="Activate the global connect tool"></div>
        </div>
        <div class="group" data-group="event">
            <div class="entry bpmn-icon-start-event-none" draggable="true" data-action="create.start-event" title="Create StartEvent"></div>
            <div class="entry bpmn-icon-intermediate-event-none" draggable="true" data-action="create.intermediate-event"
                title="Create IntermediateThrowEvent/BoundaryEvent"></div>
            <div class="entry bpmn-icon-end-event-none" draggable="true" data-action="create.end-event" title="Create EndEvent"></div>
        </div>
        <div class="group" data-group="gateway">
            <div class="entry bpmn-icon-gateway-xor" draggable="true" data-action="create.exclusive-gateway" title="Create ExclusiveGateway"></div>
        </div>
        <div class="group" data-group="activity">
            <div class="entry bpmn-icon-task" draggable="true" data-action="create.task" title="Create Task"></div>
            <div class="entry bpmn-icon-subprocess-expanded" draggable="true" data-action="create.subprocess-expanded"
                title="Create expanded SubProcess"></div>
        </div>
        <div class="group" data-group="data-object">
            <div class="entry bpmn-icon-data-object" draggable="true" data-action="create.data-object" title="Create DataObjectReference"></div>
        </div>
        <div class="group" data-group="data-store">
            <div class="entry bpmn-icon-data-store" draggable="true" data-action="create.data-store" title="Create DataStoreReference"></div>
        </div>
        <div class="group" data-group="collaboration">
            <div class="entry bpmn-icon-participant" draggable="true" data-action="create.participant-expanded" title="Create Pool/Participant"></div>
            <hr class="separator">
        </div>
        <div class="group" data-group="IPIM">
            <div class="entry fa fa-history" draggable="true" data-action="reset-BPMN" title="Reset to last loaded diagram"></div>
            <div class="entry fa fa-gears" draggable="true" data-action="Set-Values" title="Set IPIM values and evaluate"></div>
            <div class="entry fa fa-edit" draggable="true" data-action="Set-Variables" title="Set IPIM variables"></div>
            <div class="entry fa fa-search" draggable="true" data-action="Toggle-Terms" title="Highlight elements with configuration terms"></div>
            <div class="entry fa fa-sliders" draggable="true" data-action="Set-Term" title="Set term for all selected elements"></div>
        </div>
    </div>
    <div class="djs-palette-toggle"></div>
</div>