.custom-row {
    margin: 10px;
}

.intro{
    float: right;
}

input[type=checkbox] {
    /* vertical-align: middle; */
    transform: scale(1.5);
    /* float: right; */
    margin: 6px 0px 0px 6px;
}