<main>
    <title>User Management: Neuen User anlegen</title>
    <h1>Neuen User anlegen</h1>
    <!--<form>
       <div class="form-group">

            <label for="id">ID:</label>
            <input id="id" #id="ng-model" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="Name">Name:</label>
            <input id="Name" type="text" class="form-control">
        </div>

       <div class="form-group">
            <label for="Vorname">Vorname:</label>
            <input id="Vorname" #vorname="ng-model" class="form-control">
        </div>

        <div class="form-group">
            <label for="e-mail">E-Mail:</label>
            <input id="e-mail" #e-mail="ng-model" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Passwort:</label>
            <input id="password" #password="ng-model" class="form-control">
        </div>&ndash;&gt;
        <p></p>
        <button type="save">Speichern</button>
    </form>-->
    <form>
        <div class="form-group">

            <label for="id">ID:</label>
            <input id="id" class="form-control">
        </div>
        <div class="form-group">
            <label for="firstName">Name:</label>
            <input id="firstName" type="text" class="first-name">
        </div>

        <div class="form-group">
            <label for="lastName">Nachname</label>
            <input id="lastName" type="text" class="last-name">
        </div>

        <div class="form-group">
            <label for="E-Mail">E-Mail</label>
            <input id="E-Mail" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input id="Password" type="password" class="form-group">
        </div>


        <button class="-save" id="save">Submit</button>


    </form>



</main>