/deep/ .modal-header {
    /**background-color: red;**/
    background-color: #be0000;
}

/deep/ .modal-footer {
    button {
        background-color : white;
    }
    /*background-color: red;*/
    background-color: #be0000;
}