<h1>Welcome to BPMN Modelling</h1>
<hr>
<div class="split-example" style="height: 600px;">
    <as-split direction="horizontal" restrictMove="true" [useTransition]="true">
        <as-split-area unit="percent" size="30" minSize="20" maxSize="40">
            <!--unit="percent" [restrictMove]="restrictMove" gutterSize="30"-->
            <div class="task-descr" [innerHtml]="task.question_description"></div><br>
            <div [innerHtml]="task.question_text"></div>
        </as-split-area>
        <as-split-area unit="percent" size="70">
            <as-split direction="vertical" restrictMove="true">
                <as-split-area unit="percent" size="70">
                    <div class="content" id="js-drop-zone" style="height: 90%">
                        <span class="border">
                            <div class="canvas" id="js-canvas" style="height: 90%"></div>
                        </span>
                    </div>
                </as-split-area>
                <as-split-area unit="percent" size="30">
                    <button (click)=showSolution()>Solution</button>
                    Please note that this resembles one of possible many Solutions.
                    If your Solution differs from the given one, compare the modules carefully.
                    Please do not validate your Sultion until you are satisfied with your result.
                    <div id="solution_container"></div>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>