<h1>Welcome to BPMN Modelling</h1>
<hr>
<div class="split-example" style="height: 800px;">
    <as-split direction="horizontal" restrictMove="true" [useTransition]="true">
        <as-split-area unit="percent" size="30" minSize="20" maxSize="40">
            <!--unit="percent" [restrictMove]="restrictMove" gutterSize="30"-->
            <div class="task-descr" [innerHtml]="task.question_description"></div><br>
            <div [innerHtml]="task.question_text"></div>
        </as-split-area>
        <as-split-area unit="percent" size="70">
            <as-split direction="vertical" restrictMove="true">
                <as-split-area unit="percent" size="70">
                    <div class="content" id="js-drop-zone" style="height: 100%; border: black 1px solid">
                        <span class="border">
                            <div class="canvas" id="js-canvas" style="height: 100%"></div>
                        </span>
                    </div>
                </as-split-area>
                <as-split-area unit="percent" size="30">

                        <ng-container> 
                                <div *ngIf ="lang == 'de'; else langEN">
                                    <button (click)=showSolution()>Lösung</button>
                                </div>
                                <ng-template #langEN>
                                    <button (click)=showSolution()>Solution</button>
                                </ng-template>
                        </ng-container>
                    <div id="reached_score">

                    </div>
                    <div id="solution_svg">

                    </div>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>