<header class="fixed-top">
  <nav class="navbar bg-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">DAMO
      </a>
    </div>

    <div id="navbarElements" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item has-icon-right" routerLink="/tutorial">
          <span>Home</span>
        </a>
      </div>
    </div>

  </nav>
</header>
<br><br>
<div>
  Test
</div>

<!-- Some Text for the Tutorialspage -->
<div class="container">
  <h1 class="text-center">Welcome to the BPMN Tutorialspage</h1>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
</div>

<!-- TEST FOR THE CHECKBOXES
  
  <td><input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" /><label
  for="checkboxG4" class="css-label">Option 1</label></td>
<td><input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox"
  checked="checked" /><label for="checkboxG5" class="css-label">Option 2</label></td>
<td><input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" /><label
  for="checkboxG6" class="css-label">Option 1</label></td> 
-->

<!-- Tutorial content -->
<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Basic BPMN
      </mat-expansion-panel-header>

      <div class="submodule">
        <a href="#">submodule basic 1</a><input type="checkbox" class="float-right" disabled>
      </div>
      <div class="submodule">
        <a href="#">submodule basic 2</a><input type="checkbox" class="float-right" disabled>
      </div>
      <div class="submodule">
        <a href="#">submodule basic 3</a><input type="checkbox" class="float-right" disabled>
      </div>
      <div class="submodule">
        <a href="#">submodule basic 4</a><input type="checkbox" class="float-right" disabled>
      </div>

    </mat-expansion-panel>

    <hr>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Advanced BPMN
      </mat-expansion-panel-header>

      <div class="submodule">
        <a href="#">submodule advanced 1</a><input type="checkbox" class="float-right">
      </div>
      <div class="submodule">
        <a href="#">submodule advanced 2</a><input type="checkbox" class="float-right">
      </div>
      <div class="submodule">
        <a href="#">submodule advanced 3</a><input type="checkbox" class="float-right">
      </div>
      <div class="submodule">
        <a href="#">submodule advanced 4</a><input type="checkbox" class="float-right">
      </div>

    </mat-expansion-panel>

    <hr>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Professional BPMN
      </mat-expansion-panel-header>

      <div class="submodule">
        <a href="#">submodule professionel 1</a><input type="checkbox" class="float-right">
      </div>
      <div class="submodule">
        <a href="#">submodule professionel 2</a><input type="checkbox" class="float-right">
      </div>
      <div class="submodule">
        <a href="#">submodule professionel 3</a><input type="checkbox" class="float-right">
      </div>
      <div class="submodule">
        <a href="#">submodule professionel 4</a><input type="checkbox" class="float-right">
      </div>
    </mat-expansion-panel>

    <hr>

  </mat-accordion>
</div>
<!-- Tutorial content end-->

<footer class="fixed-bottom bg-light">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <3 by <a href="https://twitter.com/danielhilpoltsteiner">Daniel and Friends from IPIM</a>
      </p>
    </div>
  </div>
</footer>

