<main>
    <title>Permission Management</title>
    <h2>User Permission Management View</h2>
    <form>
        <div>
            <input type="search" id="search" placeholder="Suche...">
        </div>
        <p></p>

        <button type="searchText">Search</button>
        <h3>Ergebnisse:</h3>



        <table class="table table-hover">
            <thead>
            <tr>
                <th>Model-ID</th>
                <th>Name</th>
                <th>XML</th>
                <th>Version</th>
                <th>ff.</th>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1111</td>
                <td>Markus Schmidtner</td>
                <td>...</td>
                <td>2.1</td>
                <td>...</td>


            </tr>

            <tr>
                <td>1112</td>
                <td>Jenny Espich</td>
                <td>...</td>
                <td>1.0</td>
                <td>...</td>


            </tr>

            <tr>
                <td>ff.</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>


            </tr>
            </tbody>

        </table>


    </form>
</main>