<main>
    <title>Model Permission Management</title>
    <h2>Model Permission Management 2. View</h2>
    <form>
        <button type="new">+ Neue Berechtigung</button>
        <button tpye="edit">Bearbeiten</button>
        <button type="exit">X</button>


        <h3>Ergebnisse:</h3>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>User-ID</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Rolle</th>
                <th>ff.</th>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Markus Schmidtner</td>
                <td>s-mschmidtner(at)haw-landshut.de</td>
                <td>Admin</td>
                <td>...</td>


            </tr>

            <tr>
                <td>2</td>
                <td>Jenny Espich</td>
                <td>s-jespich(at)haw-landshut.de</td>
                <td>Datenbank Admin</td>
                <td>...</td>


            </tr>

            <tr>
                <td>ff.</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>


            </tr>
            </tbody>

        </table>


    </form>
</main>