<div class="container">

    <div class="btn-toolbar justify-content-between btn-alignment" role="toolbar" style="margin:10px">
        <button type="button" class="btn btn-secondary" (click)="clickPrevious()">Previous</button>
        <button type="button" class="btn btn-secondary" id="btnNext" (click)="clickNext()">Next</button>
        <button *ngIf="finish" type="button" class="btn btn-secondary" id="btnFinish" (click)="finishIntro()">Finish the
            Introduction</button>
        <button type="button" class="btn btn-secondary" style="margin-left: auto" id="btnCancel" (click)="cancelIntro()">Abort
            Introduction</button>
    </div>
    <!-- <div class="text-center" style="border:1px solid #000;"> -->

    <div [innerHTML]="content | safeHtml"></div>

    <!-- </div> -->
</div>