<main>
    <title>Role Management</title>
    <h2>Role Management View2</h2>
    <form>
        <div class="form-group">

            <label for="id">ID:</label>
            <input id="id" class="form-control">
        </div>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input id="Name" type="text" class="form-control">
        </div>

        <div class="checkbox">
            <label for="Read">Read</label>
            <input id="Read" type="checkbox" class="checkbox">
        </div>

        <div class="checkbox">
            <label for="Write">Write</label>
            <input id="Write" type="checkbox" class="checkbox">
        </div>

        <div class="checkbox">
            <label for="Admin">Admin</label>
            <input id="Admin" type="checkbox" class="checkbox">
        </div>

    </form>
</main>
