<main>
    <title>Role Management</title>
    <h2>Role Management View1</h2>
    <form>

        <!-- Ein Test zum ändern der Farbe bei den Buttons, jedoch verstehe ich nicht, wie ich die Farbe einzeln für die Buttons festlegen kann-->
      <!--  <style>
            button {
                background-color: lime;
            }
        </style>
        -->

        <button type="new" id="new">+ Neu</button>
        <button tpye="edit" id="edit">Bearbeiten</button>
        <button type="exit" id="exit">X</button>


        <h3>Ergebnisse:</h3>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Read</th>
                <th>Write</th>
                <th>Admin</th>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Markus Schmidtner</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>


            </tr>

            <tr>
                <td>2</td>
                <td>Jenny Espich</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>


            </tr>

            <tr>
                <td>ff.</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>


            </tr>
            </tbody>

        </table>


    </form>
</main>
