<!-- <div *ngIf="page==='administration' && permission === 1" class="col-md-6 col-md-offset-3 centered" [ngSwitch]="page2">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li [ngClass]="{'active': page2 ==='User'}" (click)="page2 = 'User'"><a>User</a></li>
            <li [ngClass]="{'active': page2 ==='Model'}" (click)="page2 = 'Model'"><a>Model</a></li>
            <li [ngClass]="{'active': page2 ==='Role'}" (click)="page2 = 'Role'"><a>Role</a></li>
            <li [ngClass]="{'active': page2 ==='Permission'}" (click)="page2 = 'Permission'"><a>Permission</a></li>
        </ul>
    </nav>
    <div *ngSwitchCase="'User'">
        <user-management></user-management>
    </div>
    <div *ngSwitchCase="'Model'">
        <model-management></model-management>
    </div>
    <div *ngSwitchCase="'Role'">
        <role-management></role-management>
    </div>
    <div *ngSwitchCase="'Permission'">
        <permission-management></permission-management>
    </div>
</div> -->

<div class="buttons has-addons" (click)="onButtonGroupClick($event)">
    <span class="button"> <a routerLink="user">User</a></span>
    <span class="button"> <a routerLink="model">Model</a></span>
    <span class="button"> <a routerLink="role">Role</a></span>
    <span class="button"> <a routerLink="permission">Permission</a></span>
</div>

<router-outlet></router-outlet>