<main>
    <title>Test</title>
    <h2>Test User Management View</h2>
    <form>
        <button type="new">+ Neu</button>
        <button tpye="edit">Bearbeiten</button>
        <button type="exit">X</button>


        <h3>Ergebnisse:</h3>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>ff.</th>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Markus</td>
                <td>Schmidtner</td>
                <td>s-mschmidtner(at)haw-landshut.de</td>
                <td>...</td>


            </tr>

            <tr>
                <td>2</td>
                <td>Jenny</td>
                <td>Espich</td>
                <td>s-jespich(at)haw-landshut.de</td>
                <td>...</td>


            </tr>

            <tr>
                <td>ff.</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>


            </tr>
            </tbody>

        </table>


    </form>
</main>