<h1>Introduction to {{ level.name }} BPMN</h1>

<div class="container">
    <div class="text-center">

        <div *ngFor="let lpd of level.PageDesc">
            <div *ngIf="lpd.getKey() === currentpage">
                <div [innerHTML]="lpd.getValue()"></div>
            </div>
        </div>

        <!-- <div [ngSwitch]="currentpage">
            <div *ngSwitchCase="1">
                <div class="container">

                    <h1>{{ level.levPageDesc[0].getValue() }}</h1>

                </div>
            </div>
            <div *ngSwitchCase="2">
                <div class="container">

                    <h1>{{ level.levPageDesc[1].getValue() }}</h1>

                </div>
            </div>
            <div *ngSwitchCase="3">
                <div class="container">

                    <h1>{{ level.levPageDesc[0].getValue() }}</h1>

                </div>
            </div>
        </div> -->
    </div>

    <div class="btn-toolbar justify-content-between" role="toolbar">
        <button type="button" class="btn btn-secondary" (click)="clickPrevious()">Previous</button>
        <button type="button" class="btn btn-secondary" (click)="clickNext()">Next</button>
    </div>

</div>

<hr>
<div class="container">
    <a class="btn btn-primary btn-lg btn-block" routerLink="/tutorial/start">Show Overview</a>
    <div *ngIf="currentpage === pages">
        <hr>
        <a [routerLink]="['/tutorial/testmc', lev.levelID]" class="btn btn-primary btn-lg btn-block">Test your knowlege</a>
    </div>
    <a *ngIf="currentpage === pages" class="btn btn-primary btn-lg btn-block" routerLink="/tutorial/testmod">Go to first
        lesson</a>
</div>