<div class="container is-fluid">
    <app-header class="navbar bg-light"> </app-header>

    <p class="test">
        <router-outlet></router-outlet>
    </p>
</div>
<!-- <div class="hero is-fluid"> -->
<!-- </div> -->
<!-- <div id="snackbarPage">
    <!-- <div *ngFor="let message of snackBarMessages" [style.backgroundColor]="message.color" class="snackbarItem">
                {{message.text}}
        </div> 
</div> -->


<!-- <div class="height-10">
        <!--Navigation bar-->
<!-- <nav class="navbar navbar-default " role="navigation"> -->
<!-- <ul class="nav navbar-nav" [ngClass]="{'disabled': loading}"> -->

<!-- </nav> -->
<!-- </div>  -->

<!--Models-->
<!-- <div class="" [hidden]="page!=='+'">
        <modelloader (loadModel)="onLoadModel($event)" (loadError)="loadError($event)"></modelloader>
    </div>
    <modeler (loadedCompletely)="onLoadedCompletely($event)" 
        (exportModel)="onExportModel($event)"
        (loadSubProcess)="onLoadSubProcess($event)" 
        *ngFor="let model of models"
        [hidden]="page !== model.id + '_' + model.version" [modelId]="'model_'+model.id + '_' + model.version"
        [newDiagramXML]="model.xml" [model]="model">
    <!-- </modeler> -->