<app-header class="navbar bg-light"> </app-header>
<div class="hero is-fluid" [ngSwitch]="page">
    <router-outlet></router-outlet>

    <!-- <div class="height-10">
        <!--Navigation bar-->
    <!-- <nav class="navbar navbar-default " role="navigation"> -->
    <!-- <ul class="nav navbar-nav" [ngClass]="{'disabled': loading}"> -->

    <!-- </nav> -->
    <!-- </div>  -->

    <!--Models-->
    <!-- <div class="" [hidden]="page!=='+'">
        <modelloader (loadModel)="onLoadModel($event)" (loadError)="loadError($event)"></modelloader>
    </div>
    <modeler (loadedCompletely)="onLoadedCompletely($event)" (exportModel)="onExportModel($event)"
        (loadSubProcess)="onLoadSubProcess($event)" *ngFor="let model of models"
        [hidden]="page !== model.id + '_' + model.version" [modelId]="'model_'+model.id + '_' + model.version"
        [newDiagramXML]="model.xml" [model]="model">
    <!-- </modeler> -->
</div>
<div id="snackbarPage">
    <!-- <div *ngFor="let message of snackBarMessages" [style.backgroundColor]="message.color" class="snackbarItem">
                {{message.text}}
        </div> -->
</div>