<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<!-- 
<main> -->
<!--<h1>The front page</h1>-->
<!--
    <h2>Front-Page</h2>
<!-- -->
<!-- <appHeader class="frontpage-header"></appHeader>  -->

<header class="frontpage-header">
  <nav class="navbar bg-light is-fixed-top" role="navigation" aria-label="main navigation">
    <a class="navbar-brand" href="#">
      <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">DAMO</a>
    <!-- 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

       -->
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarElements">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <!-- </div> -->

    <div id="navbarElements" class="navbar-menu">
      <!-- <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Documentation
          <img src=" /assets/book.svg" width="32" height="32" alt="documentation">
        </a>

        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Documentation
              <img src=" /assets/book.svg" width="32" height="32" alt="documentation">
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div> -->
      <!-- </div> -->

      <div class="navbar-end">
        <a class="navbar-item" href="/docs">
          Documentation
          <img src=" /assets/book.svg" width="32" height="32" alt="documentation">
        </a>
        <a class="navbar-item" href="/tutorial">Tutorial
          <img src=" /assets/tutorial.svg" width="32" height="32" alt="tutorial">
        </a>
        <a class="navbar-item" href="github.com/HAWMobileSystems/adamo">
          GitHub
          <img src="/assets/github-logo.svg" width="28" height="28" alt="github">
        </a>
        <a class="navbar-item" href="ipim.institute">
          IPIM
          <img src="/assets/logo_ipim.svg" width="32" height="32" alt="ipim">
        </a>

      </div>
    </div>
  </nav>
  <!-- <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-link" href="http://ipim.institute">Documentation
          <img src=" /assets/book.svg" width="32" height="32" alt="documentation">
        </div>
        <div class="navbar-link" href="http://ipim.institute">Tutorial


          <img src=" /assets/tutorial.svg" width="32" height="32" alt="tutorial">
        </div>
        <div class="navbar-link" href="http://github.com/HAWMobileSystems/adamo">GitHub
          <img src="/assets/github-logo.svg" width="28" height="28" alt="github">

        </div>
        <div class="navbar-link" href="http://ipim.institute">IPIM
          <img src="/assets/logo_ipim.svg" width="32" height="32" alt="ipim">
        </div>
      </div>

    </div> -->
  <!-- </nav> -->
</header>
<div class="frontpage-container login-form h-100 col-md-12">
  <!-- <div class="card card-container centered flex-column" [ngClass]="[project]"> -->
  <div class="card card-container centered flex-column">
    <img id="profile-img" class="profile-img-card card-img-top" src="/assets/adamo-only-logo.svg" />
    <!-- <p id="profile-name" class="profile-name-card"></p> -->

    <div class="card-body">
      <form name="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-lg  btn-block btn-signin">Login</button>
          <img *ngIf="loading" class="pl-2"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>
    </div>
  </div>

</div>
<div class="frontpage-sections">
  <section class="section">
    <div class="container">
      <h1 class="title">Die Idee</h1>
      Variantenreiche Modellierung von <strong>Geschäftsprozessen</strong> mithilfe von Konfigurtionstermen.
    </div>

  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Die Hintergründe</h1>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <h1 class="title">Die Menschen dahinter</h1>
    </div>


  </section>

</div>

<!-- footer -->
<footer class="frontpage-footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <3 by <a href="https://twitter.com/danielhilpoltsteiner">Daniel and Friends from IPIM</a>
      </p>
    </div>
  </div>
</footer>
<!-- <footer class="frontpage-footer">do some footer thing</footer> -->
<!-- </form>
        <form name="form-sigsnin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <span id="reauth-email" class="reauth-email"></span>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">

                <input id="username" type="text" class="form-control" placeholder="Username eingeben"
                       name="username" [(ngModel)]="model.username"
                       #username="ngModel" required autofocus/>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">

                <input id="inputPassword" type="password" class="form-control" placeholder="Passwort eingeben"
                       name="password" [(ngModel)]="model.password"
                       #password="ngModel" required autofocus/>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                <alert></alert>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-lg btn-primary btn-block btn-signin">Login <i
                        class="glyphicon glyphicon-log-in"></i></button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>

        </form> -->


<!-- /card-container -->


<!-- /container -->
<!-- </main> -->


<!-- 

<div class="alert alert-info">
    <strong>Normal User</strong> - U: user P: user<br />
    <strong>Administrator</strong> - U: admin P: admin
</div>
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form> -->