<h1>Multiple Choice Test for {{ level.name }} BPMN</h1>

<div class="container">
    <div class="text-center">

        <!-- Question part -->
            <h1>{{ level.MCTest[questionid].getKey() }}</h1>

        <!-- Answers part -->
        <div class="border">
            <div *ngFor="let answers of level.MCTest[questionid].getValue()">
                <div>
                    <input type="checkbox"> {{ answers }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary" (click)="CheckCorrectness()">Submit</button>

    </div>
</div>