--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE ipim;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'md53175bce1d3201d16594cebf9d7eb3f9d';






--
-- PostgreSQL database dump
--

-- Dumped from database version 11.1
-- Dumped by pg_dump version 11.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 11.1
-- Dumped by pg_dump version 11.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ipim; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE ipim WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE ipim OWNER TO postgres;

\connect ipim

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: set_lastchange(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_lastchange() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
    BEGIN
        NEW.lastchange := NOW();
        RETURN NEW;
    END;
$$;


ALTER FUNCTION public.set_lastchange() OWNER TO postgres;

--
-- Name: set_lastlogin(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_lastlogin() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
    BEGIN
        NEW.lastlogin := NOW();
        RETURN NEW;
    END;
$$;


ALTER FUNCTION public.set_lastlogin() OWNER TO postgres;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: model; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.model (
    mid integer NOT NULL,
    modelname text NOT NULL,
    lastchange timestamp without time zone DEFAULT now(),
    modelxml text,
    version bigint NOT NULL
);


ALTER TABLE public.model OWNER TO postgres;

--
-- Name: model_mid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.model_mid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.model_mid_seq OWNER TO postgres;

--
-- Name: model_mid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.model_mid_seq OWNED BY public.model.mid;


--
-- Name: partialmodel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.partialmodel (
    pmid integer NOT NULL,
    mid integer NOT NULL,
    version bigint
);


ALTER TABLE public.partialmodel OWNER TO postgres;

--
-- Name: partialmodel_mid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.partialmodel_mid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.partialmodel_mid_seq OWNER TO postgres;

--
-- Name: partialmodel_mid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.partialmodel_mid_seq OWNED BY public.partialmodel.mid;


--
-- Name: partialmodel_pmid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.partialmodel_pmid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.partialmodel_pmid_seq OWNER TO postgres;

--
-- Name: partialmodel_pmid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.partialmodel_pmid_seq OWNED BY public.partialmodel.pmid;


--
-- Name: permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permission (
    pid integer NOT NULL,
    mid integer NOT NULL,
    uid integer NOT NULL,
    rid integer NOT NULL
);


ALTER TABLE public.permission OWNER TO postgres;

--
-- Name: permission_mid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permission_mid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permission_mid_seq OWNER TO postgres;

--
-- Name: permission_mid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permission_mid_seq OWNED BY public.permission.mid;


--
-- Name: permission_pid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permission_pid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permission_pid_seq OWNER TO postgres;

--
-- Name: permission_pid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permission_pid_seq OWNED BY public.permission.pid;


--
-- Name: permission_rid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permission_rid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permission_rid_seq OWNER TO postgres;

--
-- Name: permission_rid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permission_rid_seq OWNED BY public.permission.rid;


--
-- Name: permission_uid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permission_uid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permission_uid_seq OWNER TO postgres;

--
-- Name: permission_uid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permission_uid_seq OWNED BY public.permission.uid;


--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    rid integer NOT NULL,
    role text NOT NULL,
    read boolean,
    write boolean,
    admin boolean
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_rid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_rid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_rid_seq OWNER TO postgres;

--
-- Name: role_rid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_rid_seq OWNED BY public.role.rid;


--
-- Name: session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.session OWNER TO postgres;

--
-- Name: userprofile_upid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.userprofile_upid_seq
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.userprofile_upid_seq OWNER TO postgres;

--
-- Name: userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userprofile (
    upid integer DEFAULT nextval('public.userprofile_upid_seq'::regclass) NOT NULL,
    profile text NOT NULL,
    permission bit(1) NOT NULL
);


ALTER TABLE public.userprofile OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    uid integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    lastlogin timestamp without time zone DEFAULT now(),
    firstname character varying(32) NOT NULL,
    lastname character varying NOT NULL,
    upid integer
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_uid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_uid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_uid_seq OWNER TO postgres;

--
-- Name: users_uid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_uid_seq OWNED BY public.users.uid;


--
-- Name: model mid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model ALTER COLUMN mid SET DEFAULT nextval('public.model_mid_seq'::regclass);


--
-- Name: partialmodel pmid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partialmodel ALTER COLUMN pmid SET DEFAULT nextval('public.partialmodel_pmid_seq'::regclass);


--
-- Name: partialmodel mid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partialmodel ALTER COLUMN mid SET DEFAULT nextval('public.partialmodel_mid_seq'::regclass);


--
-- Name: permission pid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission ALTER COLUMN pid SET DEFAULT nextval('public.permission_pid_seq'::regclass);


--
-- Name: permission mid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission ALTER COLUMN mid SET DEFAULT nextval('public.permission_mid_seq'::regclass);


--
-- Name: permission uid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission ALTER COLUMN uid SET DEFAULT nextval('public.permission_uid_seq'::regclass);


--
-- Name: permission rid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission ALTER COLUMN rid SET DEFAULT nextval('public.permission_rid_seq'::regclass);


--
-- Name: role rid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role ALTER COLUMN rid SET DEFAULT nextval('public.role_rid_seq'::regclass);


--
-- Name: users uid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN uid SET DEFAULT nextval('public.users_uid_seq'::regclass);


--
-- Data for Name: model; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: partialmodel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.partialmodel (pmid, mid, version) FROM stdin;
22	23	5066549580791808
22	23	1407387768455168
22	23	1407392063422464
22	23	1407396358389760
30	22	1407374883553280
22	23	5348024557502464
44	23	5348024557502464
22	23	5629499534213120
44	23	5629499534213120
22	23	1407392063488000
22	23	5910974510923776
44	23	5910974510923776
22	23	1407400653357056
22	23	1407404948324352
22	23	1407409243291648
22	23	5910974510923776
44	23	5910974510923776
22	23	5910974510923776
44	23	5910974510923776
\.


--
-- Data for Name: permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (rid, role, read, write, admin) FROM stdin;
8	ReadOnly	t	f	f
6	ReadWrite	t	t	f
1	Admin	t	t	t
28	NoAccess	f	f	f
\.


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session (sid, sess, expire) FROM stdin;
2MAv7iVlMafB5jESqwwSVbjLAw3IDkAJ	{"cookie":{"originalMaxAge":3600000,"expires":"2018-11-04T20:57:34.727Z","httpOnly":true,"path":"/"},"user":{"id":44,"email":"Markus@haw-landshut.de","firstname":"Markus","lastname":"Markus","profile":"Admin","permission":"1"}}	2018-11-04 22:33:26
\.


--
-- Data for Name: userprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userprofile (upid, profile, permission) FROM stdin;
1	Viewer	0
5	Admin	1
19	MQTT	1
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: model_mid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.model_mid_seq', 58, true);


--
-- Name: partialmodel_mid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.partialmodel_mid_seq', 1, false);


--
-- Name: partialmodel_pmid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.partialmodel_pmid_seq', 9, true);


--
-- Name: permission_mid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permission_mid_seq', 1, false);


--
-- Name: permission_pid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permission_pid_seq', 253, true);


--
-- Name: permission_rid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permission_rid_seq', 1, false);


--
-- Name: permission_uid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permission_uid_seq', 4, true);


--
-- Name: role_rid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_rid_seq', 30, true);


--
-- Name: userprofile_upid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userprofile_upid_seq', 19, true);


--
-- Name: users_uid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_uid_seq', 125, true);


--
-- Name: model model_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model
    ADD CONSTRAINT model_pkey PRIMARY KEY (mid, version);


--
-- Name: permission permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_pkey PRIMARY KEY (pid);


--
-- Name: permission permission_uid_mid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_uid_mid_key UNIQUE (uid, mid);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (rid);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: userprofile userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile
    ADD CONSTRAINT userprofile_pkey PRIMARY KEY (upid);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (uid);


--
-- Name: model set_lastchange; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_lastchange BEFORE INSERT OR UPDATE ON public.model FOR EACH ROW EXECUTE PROCEDURE public.set_lastchange();


--
-- Name: users set_lastlogin; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_lastlogin BEFORE INSERT OR UPDATE ON public.users FOR EACH ROW EXECUTE PROCEDURE public.set_lastlogin();


--
-- Name: partialmodel mid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partialmodel
    ADD CONSTRAINT mid FOREIGN KEY (mid, version) REFERENCES public.model(mid, version) ON UPDATE CASCADE;


--
-- Name: permission rid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT rid FOREIGN KEY (rid) REFERENCES public.role(rid);


--
-- Name: permission uid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT uid FOREIGN KEY (uid) REFERENCES public.users(uid);


--
-- Name: users upid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT upid FOREIGN KEY (upid) REFERENCES public.userprofile(upid);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 11.1
-- Dumped by pg_dump version 11.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

