<div class="container">

    <button type="submit" class="btn btn-secondary" (click)="CheckCorrectness()">Submit</button>
    <button type="submit" class="btn btn-secondary" (click)="NextQuestion()">Next</button>
    
    <!-- Question part -->
    <div [innerHTML]="question.question | safeHtml"></div>
    <!-- <h1>{{ question.question }}</h1> -->

    <!-- Answers part -->
    <div class="container">
        <div *ngFor="let answers of question.answers">
            <div>
                <input type="checkbox" name="user_answers"> {{ answers.value }}
            </div>
        </div>
    </div>
    
    
</div>